body{
  margin: 0px;
  background-color: #f2f2f2;
}

/*.blue-bg{
  background-color: #3799DA;
}*/



.space{
  padding-top: 30px;
}

.top1{
	background-image: url("img3.jpg");
  /*background-attachment: fixed;*/
	width: 100%;
	height: 640px;
  font-family: system-ui;
  /*background-color: #f2f2f2;*/

}
.form{
  padding: 130px 50px 50px 150px;
}

.left{
	float: left;
	/*width: 50%;*/
}

.button1 {
	border-radius: 8px;
  background-color: #ffa500;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.email {
  border-radius: 8px;
  background-color: white;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding-right: 5px;
}

 .font2{
  font-family: system-ui;
  font-weight: lighter;
  color: #B6C0C0;
  font-size: 20px;
  width: 100%; 
  padding-left: 110px
 }

.p1{
	/*font-family: arial, sans-serif;*/
  font-family: system-ui;
	font-weight: lighter; 
	color: white;
	font-size: 40px;

}
.p2{
  /*font-family: arial, sans-serif;*/
  font-family: system-ui;
  font-weight: lighter; 
  color: black;
  font-size: 40px;

}
.footer1{
	margin: auto;
	width: 50%;
	border: 3px;
	padding: 10px;
	
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding-left:300px;
  padding-right: 300px;
  padding-top: 50px;
  padding-bottom: 50px;

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.font3{
  font-family: montserrat;
  font-weight: lighter;
  font-size: 20px;
  color: #A0AEAF;
}
.font4{
  font-family: montserrat;
  font-weight: lighter;
  font-size: 15px;
  color: #A0AEAF;
  float: left; width: 33%;
}

.a1{

  width: 60%;
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
  /*font-size: 20px;*/
}
.row {
  content: "";
  display: table;
  clear: both;
  font-size: 15px;
  width: 80%;
  padding-left: 150px;
   text-align: center;
}

.f1{
  color: black;
   font-family: montserrat;
    font-weight: lighter;"
}